* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100% 90vh;
    background-position: top;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* HEADER */
header .navbar {
    position: relative;
    padding: 0 2rem;
    color: black;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #db9514e7;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* SEARCH BAR */
.container{
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: center;
}
form{
    background-color: #fff;
    width: 400px;
    height: 44px;
    display: flex;
}

form input{
    flex: 1;
    border: none;
    outline: none;
}

.container form button{
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 0;
}

form .fa-search{
    align-self: center;
    padding: 10px 20px;
    color: black;

}
form .fa-location{
    align-self: center;
    padding: 10px 20px;
    color: black;
}
/* MSG */
.msg {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.885);
}

.msg h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 20px;
}

/* UPLOAD-REGISTER */
.contain-btn{
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.upload{
    background: #000000;
    padding: 10px 30px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.fa-upload{
    align-self: center;
    color: white;
}
.register{
    background: #000000;
    padding: 10px 20px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.contain-btn button {
    background-color: #d9ac58;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contain-btn button:hover {
    background-color: #ae8a46;
}



/* RESPONSIVE DESIGN */
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* FEATURED INTERNSHIP */
.featured-internship {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* background-color: #9f8f8f62; */
}

.featured-internship h1 {
    text-align: center;
    font-size: 50px;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 20px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.card {
    border-radius: 20px;
    background-color: #dcc16ec9;
    margin-right: 10px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2b2828;
    border-radius: 20px 20px 0px 20px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.786);
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #dcc16efe;
}

.card-image {
    position: relative;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid darkgray;
}

.name {
    font-size: 25px;
    font-weight: 500;
    color: #040202;
    margin-bottom: 1rem;
}

.discription {
    font-size: 18px;
    color: black;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: rgba(14, 14, 239, 0.89);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: rgba(24, 213, 24, 0.685);
}

.swiper-navBtn {
    color: #040202;
}

/* Categories */

.heading h1 {
    padding: 2px 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}

.categories {
    display: grid;
    height: 150px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 20px;
    justify-content:center;
}

.category-item {
    position: relative;
    background-color: #dcc16edd;
    color: black;
    border-radius: 20px;
    text-align: center;
    padding: 5% 10%;
    cursor: pointer;
}


/* APPLICATION */
.application-details {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #c5c1c1c9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
}

h3 {
    color: #21201fda;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 8px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer{
    height: 40px;
    width: 100%;
    background-color: #000000;
    padding: 9px 9px;
}
footer p{
    color: white;
    text-align: center;
    justify-content: center;
}